body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 2%;
}

.productmain{
    display: grid;
    background-color: rgb(244, 242, 242);
    margin-top: 4.1%;
    left: 0;
    width: 100%;
    position:static;
}

